<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/saveproduct">
  <label for="proname">product name</label>
  <input type="text" id="proname" name="proname">

  <label for="category">Category</label>
  <select id="category" name="category"><
  <option> Electronics</option>
  <option> Stationary</option>
  <option> Medical</option>
  <option> </option>
  </select>

  <label for="isavailable">Is Available</label>
  <input type="checkbox" id="isavailable" name="isavailable">


  <input type="submit">


</form>

</body>
</html>