<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bombay fasion hub</title>
</head>
<body>
<header>
  <h1 align="center">Bombay</h1>
</header>

<form method="post" action="/saveconsumer">
  <label for="name">product name</label>
  <input type="text" id="name" name="name">

  <label for="category">Category</label>
  <select id="category" name="category"><
    <option>Paint</option>
    <option>Shirt</option>
    <option>Lower</option>
    <option> </option>
  </select>

  <label for="available">Is Available</label>
  <input type="checkbox" id="available" name="available">

  <input type="submit">

</form>
</body>
</html>